:root {
  --site--color-build: #ffe600;
  --site--color-library: #00ff90;
  --site--color-framework: #0088ff;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  background: var(--atomico--color-background);
}

body {
  font-family: "Poppins", sans-serif;
}

img {
  max-width: 100%;
}

.hero {
  padding-bottom: 0;
}

* {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
