---
import "../styles/global.css";
import "../styles/site.css";
import "../styles/home.css";
import "@atomico/site/components";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Astro</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Poppins:wght@600&display=swap" rel="stylesheet">
		<style>
			:root{
				--atomico--font-display: 'Poppins', sans-serif;
				--atomico--font-body: 'Nunito Sans', sans-serif;
			}
		</style>
		<!-- <script>
			import("../components/atomico-header.tsx");
			import("../components/atomico-welcome.tsx");
		</script> -->
	</head>
	<body>
		<site-text>
			????
		</site-text>
	</body>
</html>