---
import "../styles/global.css";
import "../styles/home.css";
import  "@atomico/site";

import "@fontsource/poppins";

import SectionHeader from "../components/section-header.astro";
import SectionIsotype from "../components/section-isotype.astro";
import SectionIntro from "../components/section-intro.astro";
import SectionEcosystem from "../components/section-ecosystem.astro";
import SectionAuthor from "../components/section-author.astro";
import SectionFooter from "../components/section-footer.astro";
---


<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Astro</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link
            href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap"
            rel="stylesheet"
        />
		<script>import("@atomico/site");</script>
	</head>
	<body>
		<SectionHeader></SectionHeader>	
		<SectionIsotype></SectionIsotype>	
		<SectionIntro></SectionIntro>	
		<SectionEcosystem></SectionEcosystem>
		<SectionAuthor></SectionAuthor>
		<SectionFooter></SectionFooter>
		<script is:inline>
			document.querySelectorAll("template[shadowroot]").forEach((template) => {
				const mode = template.getAttribute("shadowroot");
				const shadowRoot = template.parentNode.attachShadow({ mode });
				shadowRoot.appendChild(template.content);
				template.remove();
			});
		</script>
	</body>
</html>