---
import "./atomico.js"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
		<script  src="./atomico.js"></script>
		<my-wc id="id" count={10}></my-wc>	
	</body>
</html>