<site-section>
    <site-title>
        <h1>Ideas, projects and companies that use Atomico</h1>
    </site-title>
    <site-text>
        ullamco culpa duis excepteur quis amet ad proident Lorem
        esse eu labore excepteur anim deserunt{" "}
        <strong>occaecat veniam dolor</strong>
        sunt magna
    </site-text>
</site-section>