---
import {
  SiteAuthor,
  SiteRow,
  SiteSection,
  SiteText,
  SiteTitle,
} from "@atomico/site";
import imgAuthor from "../../public/author.jpg";
import iconCode from "../../public/icon-code.svg";
import iconDonation from "../../public/icon-donation.svg";
import iconShare from "../../public/icon-share.svg";
import * as data from "../data";
---

<SiteSection>
  <SiteRow colsMd="55% auto" gap={7}>
    <SiteRow>
      <SiteAuthor>
        <img src={imgAuthor.src} />
      </SiteAuthor>
    </SiteRow>
    <SiteRow>
      <SiteTitle>
        <h1>Join Atomico JS</h1>
      </SiteTitle>
      <SiteText elegant>AUTHOR'S MESSAGE</SiteText>
      <SiteText>
        Atomico is an open source project developed by
        <a href=""> UpperCod</a>, we invite you to contribute to the improvement
        of Atomico in:
      </SiteText>
      <SiteRow cols="auto 1fr">
        <img src={iconShare.src} alt="" />
        <SiteText>Using and sharing Atomico</SiteText>
      </SiteRow>
      <SiteRow cols="auto 1fr">
        <img src={iconCode.src} alt="" />
        <SiteText>
          Improving the source code, sharing bugs and new features
        </SiteText>
      </SiteRow>
      <SiteRow cols="auto 1fr">
        <img src={iconDonation.src} alt="" />
        <SiteText>Small donations</SiteText>
      </SiteRow>
    </SiteRow>
  </SiteRow>
</SiteSection>
