---
import imgAuthor from "../../public/author.jpg";
import iconDonation from "../../public/icon-donation.svg";
import iconCode from "../../public/icon-code.svg";
import iconShare from "../../public/icon-share.svg";
---
<site-section>
    <site-author>
        <img src={imgAuthor} />
    </site-author>
    <site-grid slot="right" gap={1}>
        <site-text elegant>AUTHOR'S MESSAGE</site-text>
        <site-title>
            <h1>Join Atomico JS</h1>
        </site-title>
    </site-grid>
    <site-text slot="right">
        Atomico is an open source project developed by
        <a href=""> UpperCod</a>, we invite you to contribute to the
        improvement of Atomico in:
    </site-text>
    <div class="icon-row" slot="right">
        <img src={iconShare} alt="" />
        <site-text slot="right">Using and sharing Atomico</site-text>
    </div>
    <div class="icon-row" slot="right">
        <img src={iconCode} alt="" />
        <site-text slot="right">
            Improving the source code, sharing bugs and new features
        </site-text>
    </div>
    <div class="icon-row" slot="right">
        <img src={iconDonation} alt="" />
        <site-text slot="right">Small donations</site-text>
    </div>
</site-section>