---
import { author, menuHeader } from "../data";
import imgByUppercod from "../../public/by-uppercod.svg";
---
<site-footer>
    <a href={author.link} slot="logo" target="_blank">
        <img  src={imgByUppercod} />
    </a>
    {
        menuHeader.map((data)=><site-link href={data.link}>{data.title}</site-link>)
    }
</site-footer>