---
import { SiteIsotype, SiteRow, SiteText, SiteButton } from "@atomico/site";
import imgLogoText from "../../public/logo-text.svg";
---

<SiteIsotype centered>
  <SiteRow gap={3} centered client:only>
    <img src={imgLogoText.src} alt="" />
    <SiteText elegant color="accent">
      <strong>WEBCOMPONENTS</strong>
    </SiteText>
    <SiteText textCenter>
      Create interfaces with code
      <br /> simple, fast and light
    </SiteText>
    <a href="https://play.atomicojs.dev/" style="margin: auto" target="_blank">
      <SiteButton>Playground</SiteButton>
    </a>
  </SiteRow>
</SiteIsotype>
