---
import iconDiscord from "../../public/icon-discord.svg";
import iconLinkedin from "../../public/icon-linkedin.svg";
import iconTwitter from "../../public/icon-twitter.svg";
---
<site-section>
    <site-title>
        <h1>Join the community</h1>
    </site-title>
    <site-text>
        Atomico simplifies learning, workflow, and maintenance when
        creating webcomponents.
    </site-text>
    <site-grid columns="1, 3 768px">
        <site-button style="--button-border-color: #404EED">
            <img height="16" loading="lazy" alt="Discord" src={iconDiscord} /> Discord
        </site-button>
        <site-button style="--button-border-color: #1DB0F2">
            <img height="16" loading="lazy" alt="Twitter" src={iconTwitter} /> Twitter
        </site-button>
        <site-button style="--button-border-color: #0063B9">
            <img height="16" loading="lazy" alt="Linkedin" src={iconLinkedin} /> Linkedin
        </site-button>
    </site-grid>
</site-section>