---
import imgAtom from "../../public/atom.svg";
---
<site-section>
    <site-title>
        <h1>The Atomico Ecosystem</h1>
    </site-title>
    <site-text>
        Atomico hoy ofrece un ecosistema de desarrollo desde 
    </site-text>
    <img slot="right" src={imgAtom} />
    <site-grid slot="content" columns="1, 2 768px, 3 980px">
        <site-card dotColor="#FFE600">
            <site-text color="subtitle">
                <h4>@atomico/exports</h4>
            </site-text>
            <site-text>
                <small>
                    Lorem ipsum dolor sit amet, consectetur
                    adipisicing elit.
                </small>
            </site-text>
        </site-card>
        <site-card dotColor="#0088FF">
            <site-text color="subtitle">
                <h4>@atomico/router</h4>
            </site-text>
            <site-text>
                <small>
                    Lorem ipsum dolor sit amet, consectetur
                    adipisicing elit.
                </small>
            </site-text>
        </site-card>
        <site-card dotColor="#00FF90">
            <site-text color="subtitle">
                <h4>@atomico/store</h4>
            </site-text>
            <site-text>
                <small>
                    Lorem ipsum dolor sit amet, consectetur
                    adipisicing elit.
                </small>
            </site-text>
        </site-card>
        <site-card dotColor="#00FF90">
            <site-text color="subtitle">
                <h4>@atomico/hooks</h4>
            </site-text>
            <site-text>
                <small>
                    Lorem ipsum dolor sit amet, consectetur
                    adipisicing elit.
                </small>
            </site-text>
        </site-card>
        <site-card dotColor="#00FF90">
            <site-text color="subtitle">
                <h4>@atomico/react</h4>
            </site-text>
            <site-text>
                <small>
                    Lorem ipsum dolor sit amet, consectetur
                    adipisicing elit.
                </small>
            </site-text>
        </site-card>
        <site-card dotColor="#00FF90">
            <site-text color="subtitle">
                <h4>@atomico/router</h4>
            </site-text>
            <site-text>
                <small>
                    Lorem ipsum dolor sit amet, consectetur
                    adipisicing elit.
                </small>
            </site-text>
        </site-card>
        <site-card dotColor="#00FF90">
            <site-text color="subtitle">
                <h4>@atomico/components</h4>
            </site-text>
            <site-text>
                <small>
                    Lorem ipsum dolor sit amet, consectetur
                    adipisicing elit.
                </small>
            </site-text>
        </site-card>
        <site-card dotColor="#00FF90">
            <site-text color="subtitle">
                <h4>@atomico/ui</h4>
            </site-text>
            <site-text>
                <small>
                    Lorem ipsum dolor sit amet, consectetur
                    adipisicing elit.
                </small>
            </site-text>
        </site-card>
    </site-grid>
</site-section>